<?xml version="1.0"?>
<config>
   <global>
       <modules>
          <FCamara_OlaMundo>
            <version>1.0.0</version>
          </FCamara_OlaMundo>
        </modules> 

        <blocks>
          <fcamara_olamundo> 
            <class>FCamara_OlaMundo_Block</class>
         </fcamara_olamundo>
        </blocks>
    </global>


    <frontend>
        <routers>
            <olamundo>
              <use>standard</use>      
              <args>
                  <module>FCamara_OlaMundo</module>
                  <frontName>olamundo</frontName>
             </args>
            </olamundo>
        </routers>    
    </frontend>      
</config >    
